<%- include('../partials/header') %> 

<h1><%= title %></h1>
<h3>Admin</h3>
<div class="filter-box">
  <% users.forEach(u => { %>
    <% if (u.isAdmin) { %>
      <div class="filter-card">
        <img src="<%=u.icon%>" class="icon">
        Name: <%= u.name %><br>
        Alias: <%= u.alias %>
        <form action="/users/<%=u._id%>/admin?_method=PUT" method="POST">
          <input type="submit" value="Revoke Admin" class="button">
        </form>
      </div>
    <% } %>
  <% }) %>
</div>

<h3>Users</h3>
<div class="filter-box">
  <% users.forEach(u => { %>
    <% if (!u.isAdmin) { %>
      <div class="filter-card">
        <img src="<%=u.altIcon%>" class="icon">
        Name: <%= u.name %><br>
        Alias: <%= u.alias %>
        <form action="/users/<%=u._id%>/admin?_method=PUT" method="POST">
          <input type="submit" value="Make Admin" class="button">
        </form>
      </div>
    <% } %>
  <% }) %>
</div>
      
<%- include('../partials/footer') %> 