<%- include('../partials/header') %> 

<h1><%= title %></h1>
<!-- if altIcon, show altIcon -->
<img class="icon" src="<%=user.altIcon%>">
<!-- if Alias, show Alias -->
<p>Name: <%=user.alias%></p>
<a class="button-style" href="/users/<%=user._id%>/edit">Edit Profile</a>

<!-- list favorited questions -->


      
<%- include('../partials/footer') %> 