<%- include('../partials/header') %> 

<h1><%= title %></h1>
<a href="/filters">View/Add/Edit Filters</a><br>
<% questions.forEach((q) =>{ %>
  <!-- make into a table? -->
  <div>
    <% if(q.isPublic) { %> 
      published - 
    <% } else { %>
      unpublished - 
    <% } %>
    <a href="/questions/<%= q._id %>/edit"><%= q.subject %></a>
  </div>

<% }) %> 
      
<%- include('../partials/footer') %> 