<%- include('../partials/header') %> 

<h1><%= title %></h1>
<div>
  <a href="/filters">Filter List</a> - 
  <a href="/users">User List</a>
</div><br>
<div class="list">
  <% questions.forEach((q) =>{ %>
    <div>
      <% if(q.isPublic) { %> 
        <span class="pub">published</span>
      <% } else { %>
        <span class="unpub">unpublished </span>
      <% } %>
      <a href="/questions/<%= q._id %>/edit"><%= q.subject %></a>
      <form class="righty" action="/questions/<%=q._id%>?_method=DELETE" method="POST">
        <input type="submit" value="Delete">
      </form>
    </div>
  <% }) %> 
</div>
<br>
<div>
  <% if (currentPage === 1 && pages > 1) { %>
    <a href="/questions/admin/<%= currentPage + 1 %>">Page <%= currentPage + 1 %></a>
  <% } else if (currentPage < pages ){ %>
    <a href="/questions/admin/<%= currentPage - 1 %>">Page <%= currentPage - 1 %></a>
    <a href="/questions/admin/<%= currentPage + 1 %>">Page <%= currentPage + 1 %></a>
  <% } else if (currentPage === pages){ %>
    <a href="/questions/admin/<%= currentPage - 1 %>">Page <%= currentPage - 1 %></a>
  <% } %>
</div>

      
<%- include('../partials/footer') %> 