<%- include('../partials/header') %> 

<h1><%= title %></h1>
<div>
  <a href="/filters">Filter List</a> - 
  <a href="/users">User List</a>
</div><br>
<% questions.forEach((q) =>{ %>
  <!-- make into a table? -->
  <div>
    <% if(q.isPublic) { %> 
      published - 
    <% } else { %>
      unpublished - 
    <% } %>
    <a href="/questions/<%= q._id %>/edit"><%= q.subject %></a>
    <form action="/questions/<%=q._id%>?_method=DELETE" method="POST">
      <input type="submit" value="Delete">
    </form>
  </div>

<% }) %> 
      
<%- include('../partials/footer') %> 