<%- include('../partials/header') %> 

<h1><%= title %></h1>
<a href="/filters">View/Add/Edit Filters</a><br>
<br>
<form action="/questions/<%=question._id%>/pub?_method=PUT" method="POST">
  <input type="submit" value="<%- question.isPublic ? 'Unpublish' : 'Publish' %>">
</form>
<div class="edit-card">
  <img class="icon" src="<%= asker.icon %>">
  <div>
    <p><%= asker.name %></p>
    <p><%= question.content %> </p>
  </div> 
</div>
<% let idx = 1 %>
<% if (question.answers.length) { %>
  <% const answersSorted = question.answers.sort((a, b) => a.index - b.index) %>
  <% answersSorted.forEach(a => { %>
    <% idx = a.index %>
    <div class="edit-card">
      <img class="icon" src="<%= a.filter.icon %>">
      <div>
        <form action="/answers/<%=a._id%>?_method=PUT" method="POST">
          <input type="text" name="index" hidden value="<%= a.index %>">
          <select name="filter">
            <% filters.forEach(f =>{ %>
              <option value="<%=f._id%>" <%- (f.name === a.filter.name) ? 'selected' : '' %> ><%=f.name%></option>
            <% }) %>
          </select><br>
          <input type="text" name="content" value="<%=a.content%>"><br>
          <input type="submit" value="Update">
        </form>
      </div>
      <div>
        <form action="/answers/<%=a._id%>?_method=DELETE" method="POST">
          <input type="submit" value="Delete">
        </form><br>
        <%= a.author %>
      </div> 
    </div>
  <% }) %>
<% } %>
<br>
<form action="/questions/<%=question._id%>/answers" method="POST">
  <% idx++ %>
  <input type="text" name="index" hidden value="<%= idx %>">
  <label>Filter:
    <select name="filter">
      <% filters.forEach(f =>{ %>
        <option value="<%=f._id%>"><%=f.name%></option>
      <% }) %>
    </select>
  </label><br>
  <label>Content:
    <input type="text" name="content">
  </label><br>
  <input type="submit">
</form>

      
<%- include('../partials/footer') %> 