<%- include('../partials/header') %> 

<h1 class="title"><%= title %></h1>
<div class="list">
<% questions.forEach((q) =>{ %>
  <div>
    <a href="/questions/<%= q._id %> ">
      <h3><%= q.subject %> </h3>
    </a>
    <span class="righty"><h3><i class="fas fa-thumbs-up"></i>: <%=q.likedBy.length%></h3></span>
  </div>
<% }) %> 
</div>
<br>
<br>
<div>
  <% if (currentPage === 1 && pages > 1) { %>
    <h2><a class="button-style" href="/questions/page/<%= currentPage + 1 %>">Next Page</a> </h2>
  <% } else if (currentPage < pages ){ %>
    <h2><a class="button-style" href="/questions/page/<%= currentPage - 1 %>">Prev Page</a> </h2>
    <h2><a class="button-style" href="/questions/page/<%= currentPage + 1 %>">Next Page</a> </h2>
  <% } else if (currentPage === pages){ %>
    <h2><a class="button-style" href="/questions/page/<%= currentPage - 1 %>">Prev Page</a> </h2>
  <% } %>
</div>

<!-- <i class="fas fa-arrow-circle-left"></i> -->
<!-- <i class="fas fa-arrow-circle-right"></i> -->
      
<%- include('../partials/footer') %> 