<%- include('../partials/header') %> 

<h1><%= title %></h1>
<div class="list">
<% questions.forEach((q) =>{ %>
  <% if(q.isPublic) { %> 
    <div>
      <a href="/questions/<%= q._id %> ">
        <h3><%= q.subject %> </h3>
      </a>
    </div>
  <% } %>
<% }) %> 
</div>
      
<%- include('../partials/footer') %> 