<%- include('../partials/header') %> 

<h1><%= title %></h1>
<div class="thread-card">
  <img class="icon" src="<%= asker.icon %>">
  <div class="content">
    <p><%= asker.name %></p>
    <p><%= question.content %> </p>
  </div> 
</div>
<% if (question.answers.length) { %>
  <% question.answers.forEach(a => { %>
    <div class="thread-card">
      <img class="icon" src="<%= a.filter.icon %>">
      <div class="content">
        <p><%= a.filter.name %></p>
        <p><%= a.content %> </p>
      </div> 
    </div>
  <% }) %>
<% } %>

      
<%- include('../partials/footer') %> 