<%- include('../partials/header') %> 

<div class="subject">
  <h1><%= title %></h1>
  <% if (user) { %>
    <span class="righty">
      <% if(question.likedBy.includes(user._id)) { %>
        <a href="/questions/<%=question._id%>/unlike"><i class="fas fa-thumbs-up glyph righty"></i></a>
      <% } else { %>
        <a href="/questions/<%=question._id%>/like"><i class="far fa-thumbs-up glyph"></i></a>
      <% } %>
      <i class="far fa-heart glyph"></i>
      <!-- <i class="fas fa-heart glyph righty"></i> -->
    </span>
  <% } %>
</div>
<div class="thread-card">
  <div class="icon-area">
    <img class="icon" src="<%= asker.altIcon %>">
  </div>  
  <div class="name">
      <h2><%= asker.alias %></h2>
  </div>
  <div class="content">
      <p><%= question.content %> </p>
  </div> 
</div>
<br>
<% if (question.answers.length) { %>
  <% const answersSorted = question.answers.sort((a, b) => a.index - b.index) %>
  <% answersSorted.forEach(a => { %>
    <div class="thread-card">
      <div class="icon-area">
        <img class="icon" src="<%= a.filter.icon %>">
      </div>
      <div class="name">
        <h2><%= a.filter.name %></h2>
      </div>
      <div class="content">
        <p><%= a.content %> </p>
      </div> 
    </div>
  <% }) %>
<% } %>

      
<%- include('../partials/footer') %> 