<%- include('../partials/header') %> 

<!-- check here to see if a post is still public? -->

<div class="subject">
  <h1 class="title"><%= title %></h1>
  <% if (user) { %>
    <span class="righty">
      <a href="/questions/<%=question._id%>/like"><i class="<%-question.likedBy.includes(user._id) ? 'fas' : 'far'%> fa-thumbs-up glyph"></i></a>
      <a href="/questions/<%=question._id%>/favorite"><i class="<%-question.favoritedBy.includes(user._id) ? 'fas' : 'far'%> fa-heart glyph"></i></a>
    </span>
  <% } %>
</div>
<div class="thread-card">
  <div class="icon-area">
    <img class="icon" src="<%= asker.altIcon %>">
  </div>  
  <div class="name">
      <h2><%= asker.alias %></h2>
  </div>
  <div class="content">
      <p><%= question.content %> </p>
  </div> 
</div>
<br>
<% if (question.answers.length) { %>
  <% const answersSorted = question.answers.sort((a, b) => a.index - b.index) %>
  <% answersSorted.forEach(a => { %>
    <div class="thread-card">
      <div class="icon-area">
        <% if (a.filter.attribution === '') { %>
          <img class="icon" src="<%= a.filter.icon %>">
        <% } else {%>
          <a href="<%=a.filter.attribution%>"><img class="icon" src="<%= a.filter.icon %>"></a>
        <% } %>
      </div>
      <div class="name">
        <h2><%= a.filter.name %></h2>
      </div>
      <div class="content">
        <p><%= a.content %> </p>
      </div> 
    </div>
  <% }) %>
<% } %>

      
<%- include('../partials/footer') %> 