<%- include('../partials/header') %> 

<h1><%= title %></h1>
<div class="thread-card">
  <div class="icon-area">
    <img class="icon" src="<%= asker.altIcon %>">
  </div>  
  <div class="name">
      <h2><%= asker.alias %></h2>
  </div>
  <div class="content">
      <p><%= question.content %> </p>
  </div> 
</div>
<br>
<% if (question.answers.length) { %>
  <% const answersSorted = question.answers.sort((a, b) => a.index - b.index) %>
  <% answersSorted.forEach(a => { %>
    <div class="thread-card">
      <div class="icon-area">
        <img class="icon" src="<%= a.filter.icon %>">
      </div>
      <div class="name">
        <h2><%= a.filter.name %></h2>
      </div>
      <div class="content">
        <p><%= a.content %> </p>
      </div> 
    </div>
  <% }) %>
<% } %>

      
<%- include('../partials/footer') %> 